.custom-header {
    display: flex;
    align-items: center;
}

.custom-map {
    position: relative;
    height: 180px;
}

  
.custom-img {
    margin-bottom: -40px;
    transform: translate(0%, -50%);
    border: 1px solid black;
    border-radius: 50%;
    background-color: aqua;
}

.custom-tab-container {
    margin: 0px 5px;
}

.custom-stats-btn {
    background: white;
    color: black;
    border: none;
    border-radius: 0px; 
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.custom-tab {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px;
}

.custom-tab div{
    width: 100%;
    border-radius: 0px;
    border-bottom: 2px solid white;
    margin-bottom: 5px;
} 

.custom-tab div:hover{
    border-bottom: 2px solid #514FB5;
} 

.custom-setting-btn {
    background: white;
    color: black;
    border: none;
    border-radius: 0px; 
    padding: 15px;
    display: flex;
    justify-content: space-between;
}