.custom-title {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 42px;
}

.custom-form {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}

.custom-form:focus {
  border-bottom-color: #514FB5;
  box-shadow: none;
}

.custom-btn {
  background: #514FB5;  
  color: white;
  border: 2px solid #514FB5;
  padding: 5px 5px;
  height: 50px;
  width: 100%;
}

.custom-lbl{
  color: #514FB5!important; 
}

.custom-font-size-small{
  font-size: 12px;
}

.custom-forgot-password{
  font-size: 12px;
  color: #514FB5!important; 
  font-weight: bold;
  text-align: right;
  padding-top: 12px; 
}

.custom-text-align-center{
  text-align: center;
}

.custom-text-align-left{
  text-align: left;
}

.custom-text-align-right{
  text-align: right;
}

.custom-lbl-center{
  font-size: 12px;
  color: #514FB5!important; 
  font-weight: bold;
  text-align: center;
  width: 100%;  
}

.custom-link{
  text-decoration: none;
  padding: 0;
}

.custom-item-align-center {
  align-items: center;
}

/*
.custom-search-btn {
  border: 2px solid #514FB5;
}
*/

.custom-category-btn {
  background: white;  
  color: #514FB5;
  border: 1px solid #514FB5;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 14px;
  width: 90px;
  margin:0px 5px;
}

.custom-category-btn:hover, .custom-category-btn:active {
  background: #514FB5;  
  color: white;

}

.scrollable-categories-container {
  overflow-x: auto; 
  white-space: nowrap;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scrollable-categories-container::-webkit-scrollbar {
  display: none; 
}

.custom-grey-bg {
  background-color: #f3f4fb;
  padding: 15px 0px;
}

.custom-profile {
  width: 20%;
  padding: 5px;
}

.custom-icon {
  font-size: 20px;
}

.custom-icon-lg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.custom-icon-lg {
  font-size: 200px;
}

.map-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  width: 65px;
  height: 30px;
  border-radius: 25px;
  top: 10%;
  left: 15%;
  transform: translate(-30%, -50%);
  z-index: 1;
}

.icon-overlay {
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 30px;
  height: 30px;
  border-radius: 100px;
  top: 10%;
  right: 5%;
  transform: translate(-30%, -50%);
  z-index: 1;
}

.dropdown-menu {
  width: 200px;
  height: auto;
  border-radius: 0;
  border: none;
  position:absolute;
  padding: 0px;
  top: 100%;
  right: 0%;
}

.dropdown-item {
  height: 100%;
  padding: 10px 15px;
}

.custom-tab-container {
  margin: 0px 5px;
}

.custom-tab {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0px;

}

.custom-tab div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0px;
  border-bottom: 2px solid white;
  margin-bottom: 5px;
} 

.custom-tab div:hover{
  border-bottom: 2px solid #514FB5;
} 

.custom-input {
  margin: 0px 10px;
}
